* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 66.7%;
}

body {
  font-size: 1.4rem;
  font-family: 'Space Mono', monospace;
}

.header {
  max-height: 10vh;
  display: flex;
  align-items: center;
  padding: 3rem 3rem;
  font-size: 2rem;
  text-transform: uppercase;
}

main {
  display: flex;
  height: 85vh;
  align-items: center;
  max-width: 1300px;
  margin: auto auto;

  justify-content: space-between;
}
.image {
  flex-basis: 50%;
  padding: 0 4rem;
}
.image img {
  width: 100%;
}

.description {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  padding: 0 3rem;
}
.description h2 {
  padding: 2rem 0;
  font-size: 6rem;
  font-weight: bold;
}

.para {
  font-size: 1.8rem;
  width: 60%;
  margin-bottom: 4rem;
}

.button {
  text-decoration: none;
  background: #333333;
  color: white;
  padding: 2rem 4rem;

  text-transform: uppercase;
  font-size: 1.2rem;
}

footer {
  display: flex;
  justify-content: center;
  font-size: 1.6rem;
}

@media only screen and (max-width: 768px) {
  .header {
    font-size: 1.4rem;
  }
  main {
    flex-direction: column;
  }
  .description h2 {
    font-size: 3rem;
  }
  .button {
    padding: 1rem 2rem;
  }
  .para {
    width: 80%;
    margin-bottom: 1rem;
  }
}
